

ul{
    margin: 0px;
    padding: 0px;

}

h1{
    font-style: italic;
}




.navbar{
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.navbar li{
    display: inline;   
    margin: auto;

}

.navbar a{
    text-align: center;
    font-family: fantasy;
    font-size: x-large;
    background-color: antiquewhite;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: darkgrey;
    width: 25%;
    float: left;
    
}

.navbar a:hover{
    background-color: bisque;
}