

ul{
    margin: 0px;
    padding: 0px;

}

.homepagetitle{
    font-size: 150px;
    color:antiquewhite;

}

*{
    background-color: rgb(43, 40, 40);
    color: white;
}

img{
    width: 500px;
    border-radius: 15px;
}


.navbar{
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.navbar li{
    display: inline;   
    margin: auto;

}

.navbar a{
    text-align: center;
    font-family: comic-sans;
    font-size: x-large;
    background-color: antiquewhite;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: darkgrey;
    width: 25%;
    float: left;
    
}

table{
    width: 100%;

}

table, th, td {
    border:1px solid;
}

.navbar a:hover{
    background-color: bisque;
}

li.indentedList {
    padding-left: 10px !important;
}